@import url(webfonts/stylesheet.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Libre Baskerville', serif;
  color: white;
  /* padding-bottom: 50px; */
  background-color: black;
}

h1 {
  font-size: 18px;
  line-height: 16px;
}

h2 {
  font-size: 16px;
  font-weight: 300;
}

h3 {
  font-size: 12px;
  font-weight: bold;
}

h4 {
  font-size: 10px;
  font-weight: 300;
}

.highlight {
  color: #F0324B;
}

.centered {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

.top-space {
  margin-top: 1.5em;
}

a:link,
a:visited,
a:active {
  color: #F0324B;
  text-decoration: none;
}

a:hover {
  color: #F0324B;
  text-decoration: underline;
}

#intro {
  width: 280px;
  position: fixed;
  left: 50%;
  margin-left: -140px;
  z-index: 1;
  overflow-x: visible;
  background-color: black;
}

#title {
  width: 180px;
  display: inline-block;
  vertical-align: bottom;
}
#legend {
  width: 95px;
  height: 100px;
  display: inline-block;
  vertical-align: bottom;
  font-family: 'Noto Sans Thai UI', 'Noto Sans', sans-serif;
  font-size: 7pt;
  fill: white;
}
#days-of-week {
  margin-top: 10px;
  width: 280px;
  display: inline-block;
  vertical-align: bottom;
  background-color: white;
  font-size: 7px;
  color: black;
}
.day {
  width: 38px;
  text-align: center;
  display: inline-block;
}

#calendar {
  width: 280px;
  margin: 100px auto 40px auto;
  color: white;
  background-color: black;
}

.date-dummy {
  width: 40px;
  height: 1em;
  display: inline-block;
  font-size: 2em;
}
.date {
  width: 40px;
  display: inline-block;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 2em;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.month {
  font-size: 7pt;
  color: white;
  display: absolute;
  left: 0;
  width: 280px;
}

#conclusion {
  width: 280px;
  margin: 20px auto;
  background: black;
  display: flex;
  flex-direction: column;
}

/* .share-buttons {
margin-top: auto;
margin-bottom: 20px;
text-align: center;
} */

.sharebox {
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
}

.download {
  text-align: center;
}


/* GENERAL MEDIA QUERIES */


/* @media only screen and (max-width: 900px) {
.title, .text, .status {
  width: 100%;
}
.image-wrapper {
  width: 100%;
  position: unset;
}
}
@media only screen and (max-width: 600px) {
.fixed {
  text-align: left;
}
.bottom {
  text-align: left;
}

.intro .container {
  text-align: right;
  padding-right: 40px;
}

.timeline ul::before, .timeline ul::after {
  left: 20px;
}
.timeline ul li {
  margin-left: 50px;
}
.timeline ul li::before, .timeline ul li.last::before {
  content: '';
}
.timeline ul li > div {
  width: calc(100vw - 120px);
}
} */
